* {
	box-sizing: border-box;
}
.rod-1, .rod-2 {
	width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ne-rod-1, .ne-rod-2 {
	width: 540px;
	height: 540px;
}
img {
	width: 100%;
/*	height: 100%;*/
}